html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

main > * {
    flex-grow: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}