<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/design.css}">
</head>
<body>
<main>
<div class="container">
    <h1>URL Shortener</h1>
    <form th:action="@{/shorten}" th:object="${urlRequestBodyForm}" method="post">
        <div class="form-group">
            <label>Original URL</label>
            <input type="text" class="form-control" id="originalUrl" name="originalUrl" placeholder="Enter original URL" th:field="*{longUrl}">
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
    <hr>
</div>

</main>

<footer>
    <div>
        Copyright © Your Company
    </div>
</footer>
</body>
</html>