<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>URL Shortener</h1>
    <h3>Original URL</h3>
    <div th:text="${originalUrl}"></div>
    <h3>Shortened URL</h3>
    <div th:text="${shortenedUrl}" id="shortened-url"></div>
    <button onclick="copyText()">Copy</button>



    <script>
        function copyText() {
            var copyText = document.getElementById("shortened-url");
            var dummy = document.createElement("textarea");
            dummy.value = copyText.textContent;
            document.body.appendChild(dummy);
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            alert("Copied the shortened URL: " + copyText.textContent);
        }
    </script>



</div>
</body>
</html>