<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shortened Url</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <div class="container" th:if="${!validUrl}">
        <h1 style="font-size:50px;text-align:center;color:#4b4c4d;background-color:#f0f3f8;">URL Shortener</h1>
        <hr>
        <br><br><br><br><br>

        <p style="font-size:20px;align-content:center;color:#d74242;">
            <strong>Response Code: </strong>
            <span th:text="${responseBody.getStatus()}"></span>
            <br>
            <strong>Response Message: </strong>
            <span th:text="${responseBody.getError()}"></span>
        </p>
    </div>

    <div class="container" th:if="${validUrl}">

        <h1 style="font-size:50px;text-align:center;color:#4b4c4d;background-color:#f0f3f8;">URL Shortener</h1>
        <hr>
        <br><br><br><br><br>

        <h3 style="font-size:30px;color:#4b4c4d;">Original URL</h3>
        <span style="font-size:15px;color:#4b4c4d;background-color:#FFFF00;" th:text="${originalUrl}"></span>

        <br><br><br><br>

        <h3 style="font-size:30px;color:#4b4c4d;">Shortened URL</h3>
        <span id="shortened-url" style="font-size:15px;color:#4b4c4d;background-color:#FFFF00;"
              th:text="${shortenedUrl}"></span>
        <br>
        <button class="btn btn-primary" onclick="copyText()">Copy</button>

        <br><br><br><br>

        <h3 style="font-size:30px;color:#4b4c4d;">Expiry Date</h3>
        <span style="font-size:15px;color:#4b4c4d;background-color:#FFFF00;" th:text="${expiryDate}"></span>

        <br><br><br><br>


        <script>
            function copyText() {
                var copyText = document.getElementById("shortened-url");
                var dummy = document.createElement("textarea");
                dummy.value = copyText.textContent;
                document.body.appendChild(dummy);
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
                alert("Copied the shortened URL: " + copyText.textContent);
            }
        </script>
        <hr>
    </div>
</main>

<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/mohammed-abdul-sofiyan-550049165/" target="_blank"><i
                    class="icon ion-social-linkedin"></i></a>
            <a href="https://github.com/sufiyan0211" target="_blank"><i class="icon ion-social-github"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.sufiyandev.com/" style="color:#4262e3;" target="_blank">Portfolio</a>
            </li>
            <li class="list-inline-item"><a href="https://www.sufiyandev.com/#projects" style="color:#4262e3;"
                                            target="_blank">Projects</a></li>
        </ul>
        <p class="copyright" style="color:#e34280;">SufiyanDev © 2022</p>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>